#N

rxd_IN
rxd_out
rxd_OE
rxd_CS
rxd_SL
rxd_IE
rxd_PU
rxd_PD
rst_PU
rst_PD
rst
rxd_out_IN
rxd_out_OUT
rxd_out_OE
rxd_out_CS
rxd_out_SL
rxd_out_IE
rxd_out_PU
rxd_out_PD

#S
tx_busy_IN
tx_busy_OUT
tx_busy_OE
tx_busy_CS
tx_busy_SL
tx_busy_IE
tx_busy_PU
tx_busy_PD
rx_sample_pulse_IN
rx_sample_pulse_OUT
rx_sample_pulse_OE
rx_sample_pulse_CS
rx_sample_pulse_SL
rx_sample_pulse_IE
rx_sample_pulse_PU
rx_sample_pulse_PD

#E
txd_IN
txd_OE
txd_CS
txd_OUT
txd_SL
txd_IE
txd_PU
txd_PD

#W
clk_ref_PU
clk_ref metal3
clk_ref_PD
